<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.fmodgdextension.plugin">

    <application><meta-data
        android:name="org.godotengine.plugin.v1.FmodAndroidPlugin"
        android:value="org.fmodgdextension.plugin.FmodAndroid" /></application>
</manifest>